@model AspNetCoreServerSide.Models.Demo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jquery DataTables - Asp.Net Core Server Side</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/css/buttons.dataTables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
</head>
<body>
    @Html.AntiForgeryToken();

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center align-content-center">
                    <div class="card">
                        <div class="card-header">
                            <p class="text-center">Asp.Net Core - Jquery DataTables Server Side Multi Column Filtering And Ordering With Pagination And Excel Export Demo.</p>
                        </div>
                        <div class="card-body">
                            <jquery-datatables id="fingers10"
                                               class="table table-sm table-dark table-bordered table-hover"
                                               model="@Model"
                                               thead-class="text-center"
                                               enable-searching="true"
                                               search-row-th-class="p-0"
                                               search-input-class="form-control form-control-sm">
                            </jquery-datatables>
                        </div>
                        <div class="card-footer">
                            <p class="text-center">Demo By &copy; Fingers10 - Abdul Rahman.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/momentjs/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.buttons.min.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
</body>
</html>
